<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop-co Homepage</title>
    <link rel="stylesheet" href="../../static/style/home/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% extends 'base/base.html' %}
    {% load static %}

    {% block content %}

    <!-- Hero Section -->
    <header class="hero-section d-flex align-items-center justify-content-center" >
        <div class="text-center text-white" style="position: absolute;">
            <h1 class="fw-bold">STYLIST PICKS BEAT <br> THE HEAT</h1>
            <a href="{% url 'product:product_list'%}" class="btn btn-outline-light mt-3">SHOP NOW</a>
        </div>
    </header>

    <!-- New Arrivals Section -->
    <section class="container text-center my-5">
        <h2>Discover NEW Arrivals</h2>
        <div class="container mt-4">
            <div class="row">
                {% for product in products|slice:":3" %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="card-img-top" style="height: 300px; object-fit: contain;" alt="{{ product.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h5>{{ product.name }}</h5>
                                <p>₹{{ product.price }}</p>
                                <a href="{% url 'product:product_detail' product.pk %}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'product:product_list' %}" class="btn btn-dark mt-3">VIEW COLLECTION</a>
    </section>


    <!-- Summer Sale Banner -->
    <section class="sale-banner text-white text-center py-5">
        <h2>Don't Delay, Buy Today</h2>
        <h1>Summer Sale 50% Off</h1>
    </section>
    
     <!-- Categories Section -->
     <section class="container text-center my-5">
        <h2>Explore Our Must Have <br> Summer Collections And Stay Trendy</h2>
        <div class="category">
            <img src="/static/images/category1.jpg" class="img-fluid rounded" alt="Category 1">
        </div>
    </section>


    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
