.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    font-size: 22px;
    color: #ccc;
    cursor: pointer;
}

.wishlist-icon .fa-heart {
    color: red;
}

.wishlist-icon .fa-heart-o {
    color: #bbb;
}

.wishlist-icon .red-heart {
    color: red;
}
